* {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}

body header {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(184, 83, 83, 0.678);
  font-size: 20px;
}

body header p {
  color: white;
  background-color: #6e0404;
  box-shadow: 5px 5px 10px #616161;
  padding: 5px;
}

body div#header {
  background-color: #f11313;
  border: solid 3px black;
  width: 30vw;
  margin: -30px auto;
  text-align: center;
}

body div#header h1 {
  padding: 20px 0;
  font-size: 40px;
  color: black;
}

body main {
  margin-top: 100px;
}

body main div#index {
  text-align: center;
}

body main div#index p {
  font-size: 50px;
}

body main div#allMarques ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-wrap: wrap;
}

body main div#allMarques ul li {
  list-style: none;
  padding: 10px;
  margin: 20px;
  background-color: #4fd6c0;
  box-shadow: 5px 5px 10px #616161;
}

body main div#carOM ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-wrap: wrap;
}

body main div#carOM ul li {
  margin: 20px;
  padding: 10px;
  list-style: none;
  background-color: #8cd64f;
  box-shadow: 5px 5px 10px #616161;
}

body main div#dateOC ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  flex-wrap: wrap;
}

body main div#dateOC ul li {
  margin: 20px;
  padding: 10px;
  list-style: none;
  color: white;
  background-color: #954fd6;
  box-shadow: 5px 5px 10px #616161;
}

body main div#car table {
  margin: 0 auto;
  text-align: center;
}

body main div#car table thead tr th {
  border: solid 2px black;
  background-color: rgba(184, 83, 83, 0.678);
  padding: 10px;
}

body main div#car table tbody tr td {
  padding: 10px;
}
